@import "tailwindcss";

.new-game-card, .join-game-card {
  @apply
  flex flex-col items-center justify-center
  bg-gray-100 rounded-lg shadow-lg border-0
  transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl;
}

.new-game-card .ant-card-body,
.join-game-card .ant-card-body {
  @apply h-full flex flex-col items-center justify-center;
}

.join-game-card-title {
  color: var(--ant-primary-color-active);
}
